body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#eef2f7;
font-family:Segoe UI;
}

.phone{
width:260px;
background:white;
border-radius:30px;
padding:20px;
box-shadow:0 20px 40px rgba(0,0,0,0.2);
}

.display{
text-align:right;
margin-bottom:20px;
}

.top{
font-size:30px;
color:#999;
}

.main{
font-size:45px;
font-weight:bold;
}

.layout{
display:flex;
}

.numbers{
flex:1;
}

.row{
display:flex;
justify-content:space-between;
margin:10px 0;
}

button{
width:60px;
height:60px;
border:none;
border-radius:15px;
font-size:18px;
background:#f1f5f9;
cursor:pointer;
}

button:hover{
background:#e2e8f0;
}

.ops{
display:flex;
flex-direction:column;
margin-left:10px;
}

.ops button{
background:linear-gradient(#f59e0b,#ea580c);
color:white;
margin:5px 0;
}
